* {
  padding: 0px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.App {
  position: fixed;
  max-width: 80%;
  background-color: white;
  text-align: right;
  padding: 20px 20px;
  box-shadow: 5px 5px 1px #4646461f;
  border-radius: 10px;
  transition: all 0.25s;
}

.App:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.App h4 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  margin: 10px 30px;
}

.App p {
  text-align:right;
  font-size: 26px;
  font-weight: 300;
  margin: 10px 30px;
  margin-bottom: 20px;
}

.prueba button {
  border: none;
  background-color: white;
  width: 80px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
}
